<!DOCTYPE html>
<!--
 - File              : blog-list.component.html
 - Author            : Yan Xue <xuey@microsoft.com>
 - Date              : 23/11/2018
 - Last Modified Date: 23/11/2018
 - Last Modified By  : Yan Xue <xuey@microsoft.com>
-->

<div class="blog-list" *ngIf="blogs">
  <div class="blog-item" *ngFor="let blog of blogs">
    <h1><span class="title">{{blog.title}}</span></h1>
    
    <div class="blog-info">
      <span class="badge badge-pill badge-info"><i class="fa fa-clock-o" aria-hidden="true"></i> {{blog.publishedDate}}</span>
      &nbsp;
      <span class="badge badge-pill badge-info"><i class="fa fa-thumbs-up" aria-hidden="true" (click)="like(blog.id)"></i> {{likes.get(blog.id)}}</span>
    </div>

   <span class="content" [innerHtml]="blog.content"></span>
  </div>
</div>
