/**
 * File              : graph.component.less
 * Author            : Yan Xue <xuey@microsoft.com>
 * Date              : 23/11/2018
 * Last Modified Date: 23/11/2018
 * Last Modified By  : Yan Xue <xuey@microsoft.com>
 */
.graph{
  width: 100%;
}

.row, .col{
  margin: 0%;
  padding: 0%;
}

.cell{
  width: 0.5%;
  padding-bottom: 0.5%;
}
